@use "../../../../styles/helpers/abstract/media.scss" as *;
@use "../../../../styles/helpers/variables/variables" as *;

.settingsContainer {
  margin-top: $nav-height;
  display: flex;
  gap: 1rem;
  height: calc(100vh - 6rem);
}
