@use "../../../../styles/helpers" as *;

.sideBarContainer {
  flex: 1;
  min-width: 25rem;
  max-width: 30rem;
  @include flexBox(column);
  gap: 1rem;
  padding: 1rem;
  background: color(light);

  @include media-680 {
    width: 100%;
    max-width: 100%;

    &.active {
      display: none;
    }
  }
}
