@use "../../../../styles/helpers/abstract/functions" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.userInfo {
  $top-space: 2.5rem;
  $fig-w: 12rem;

  @include flexBox(column);
  @include flexProperty(center, center);

  [data-img] {
    width: $fig-w;
    height: $fig-w;
  }

  .infoFragmentsList {
    margin-top: $top-space;
    width: 100%;
    @include flexBox(column);
    gap: 0.5rem;

    @include media-680 {
      align-items: center;
    }
  }

  .userInfoFragment {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;
  }

  .userInfoFragment span:first-child {
    font-weight: weight("mediumWeight");
    text-transform: capitalize;
  }

  .infoUserName {
    text-transform: capitalize;
  }
}
