@use "./auth-form-variables" as *;
@use "../../../styles//helpers" as *;

.authForm {
  @include flexBox(column);
  width: $form-w;
  margin: 0 auto;
  margin-top: 20rem;
  gap: 2rem;

  [data-button-re] {
    padding: 1.5rem auto;
  }

  .forgotPassword {
    color: color(blue-shade);
    text-decoration: underline;
    font-size: size(sm);
    align-self: center;
    text-transform: capitalize;
    transition: color 0.2s ease;

    &:hover {
      color: color(blue-light);
    }
  }

  .resetPswMsg {
    font-size: size(sm);
    font-weight: weight(lg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid color(dark-shade);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
