@use "../../../styles//helpers/variables/variables" as *;
@use "../../../styles//helpers/abstract/mixins" as *;
@use "../../../styles//helpers/abstract/functions" as *;

$form-w: 30rem;

.authForm {
  @include flexBox(column);
  width: $form-w;
  margin: 0 auto;
  margin-top: 20rem;
  gap: 2rem;

  input {
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
  }

  button {
    border-radius: 0.5rem;
    background: color("blueColor");
    color: color("whiteColor");
    text-transform: capitalize;
    padding: 1.5rem 2rem;
  }

  .forgotPassword {
    color: color("blueColor");
    text-decoration: underline;
    font-size: size("smallSize");
    align-self: center;
    text-transform: capitalize;
  }

  .resetPswMsg {
    font-size: size("smallSize");
    font-weight: weight("boldWeight");
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid color("darkGreyColor");
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

.registrationConfirmPasswordContainer {
  min-height: calc(100vh);
  @include flexBox;
  @include flexProperty(center, center);

  .registerConfirmPasswordForm {
    @include flexBox(column);
    @include flexProperty(center, center);
    gap: 2rem;
    max-width: $form-w;
  }
}

.successModalBackDrop {
  position: fixed;
  top: $nav-height;
  left: 0;
  z-index: 99;
  height: calc(100vh - $nav-height);
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  @include flexBox;
  @include flexProperty(center, center);

  .successModalBox {
    width: 30rem;
    height: 14rem;
    padding: 1rem;
    border-radius: $rounded-sm;
    box-shadow: $shadow-base;
    background: color("whiteColor");
    @include flexBox(column);
    @include flexProperty(center, center);
    gap: 1.5rem;
  }
}
