@use "./auth-form-variables" as *;
@use "../../../styles/helpers" as *;

.registrationConfirmPasswordContainer {
  min-height: calc(100vh);
  @include flexBox;
  @include flexProperty(center, center);

  .registerConfirmPasswordForm {
    @include flexBox(column);
    @include flexProperty(center, center);
    gap: 2rem;
    max-width: $form-w;
  }
}
