@use "../../../styles/helpers" as *;

.regContainer {
  margin-top: app(nav-h);
  min-height: calc(100vh - app(nav-h));
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .regForm {
    width: min(100%, app(container-w));
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 3rem;

    @include media-960 {
      column-gap: 1.5rem;
    }

    @include media-680 {
      display: flex;
      flex-direction: column;
    }
  }

  [data-select-box] {
    width: 100%;
  }

  [data-registration-form-heading] {
    grid-column: 1/-1;
    font-weight: 600;
    text-transform: capitalize;
  }

  [data-form-input] {
    width: 100%;
  }

  & .regForm [data-button-re] {
    padding: 1.5rem 8rem;
    width: max-content;

    @include media-680 {
      border-radius: radius(xs-2);
      width: 100%;
    }
  }

  [data-terms-checkbox],
  [data-button-re] {
    grid-column: 1/-1;
    margin: 0 auto;
  }
}
