@use "../../../../../styles/helpers/components/post" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/abstract/media" as *;

.postMediaBox {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.75rem;
  @include postMedia;

  .postMedia {
    align-self: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: grab;

    & img {
      @include fitImage;
    }
  }

  .multiLayOver {
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    height: 100%;
    position: relative;
    @include flexBox;
    @include flexProperty(center, center);
  }

  &--1 {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  &--2 {
    grid-template: repeat(2, 30rem) / repeat(1, 1fr);
  }

  &--3 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 30rem);

    .postMedia:last-child {
      grid-column: 1/-1;
    }
  }

  &--4 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 30rem);
  }

  &--2,
  &--3,
  &--4 {
    @include media-960 {
      grid-template-rows: repeat(2, 18rem);
    }

    @include media-480 {
      grid-template-rows: repeat(2, 15rem);
    }
  }

  &--5 {
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 20rem);

    .postMedia:first-child {
      grid-column: 1/-1;
      grid-row: 1;
    }

    .postMedia {
      grid-row: 2;
    }

    .postMedia:last-child {
      grid-column: 1/-1;
      grid-row: 3;
    }

    @include media-960 {
      grid-template-rows: repeat(3, 16rem);
    }

    @include media-480 {
      grid-template-rows: repeat(3, 12rem);
    }
  }

  &--multi {
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 20rem);

    figure:nth-of-type(1) {
      grid-row: 1;
      grid-column: 1/-1;
    }

    figure:nth-of-type(2) {
      grid-row: 2;
      grid-column: 1;
    }

    figure:nth-of-type(3) {
      grid-row: 2;
      grid-column: 2;
    }

    figure:nth-of-type(4) {
      grid-row: 2;
      grid-column: 3;
    }

    figure:nth-of-type(5) {
      grid-row: 3;
      grid-column: 1/-1;
    }

    .postMedia {
      grid-row: 2;
      grid-column: 3;
    }

    @include media-960 {
      grid-template-rows: repeat(3, 16rem);
    }

    @include media-480 {
      grid-template-rows: repeat(3, 12rem);
    }
  }
}
