@use "../../../../../styles/helpers" as *;

.post {
  position: relative;
  @include flexBox(column);
  width: min(100%, app(post-w));
  margin: 0 auto;
  padding: 1rem;
  border-radius: radius(xs-2);
  background: color(light);
  box-shadow: shadow(radial-xl);
  // background: red;
}
