@use "../../../styles/helpers/helpers" as *;

.requestBtn {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 0.75rem;
  padding: 1rem 2rem;
  font-size: size(sm);
  outline: none;
  text-transform: capitalize;
  border-radius: radius(xs);
  box-shadow: shadow(radial-sm);
  transition: all 0.2s;

  & > svg {
    font-size: size(lg);
  }

  & span {
    align-self: flex-end;
  }

  &.isFriendBtn,
  &.sendBtn,
  &.deleteBtn,
  &.cancelBtn {
    background: color(gray-shade);
    color: color(dark-shade);

    &:hover:not(.active) {
      background: color(gray-tint);
    }
  }

  &.sendMessageBtn,
  &.confirmBtn {
    background: color(blue-shade);
    color: color(light);

    &:hover {
      background: color(blue-light);
    }
  }

  @include media-1280 {
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: radius(xs-2);

    & > svg {
      font-size: size(base);
    }
  }
}

.requestBtnBox {
  position: relative;

  .isFriendBtn svg:last-child {
    transition: all 0.2s ease;
  }

  .isFriendBtn.active svg:last-child {
    transform: rotate(180deg);
  }

  .isFriendBtn.active {
    background: color(gray-tint);
  }

  .requestBtnModal {
    position: absolute;
    bottom: -4.5rem;
    width: max-content;
    background: color(light);
    box-shadow: shadow(vertical-sm);
    border-radius: 0.5rem;
    @include animateMoveTop;
  }

  .deleteFromFriendsBtn {
    transition: all 0.2s;
    box-shadow: none;
  }

  .deleteFromFriendsBtn:hover {
    color: color(red-b);
  }
}
