@use "../../../../styles/helpers" as *;
@use "../../../../styles/helpers/components" as *;

.friendsNav {
  @include nestedPageNavigation;
  justify-content: space-between;

  .friendsSearch {
    width: max-content;
    height: 3.5rem;
    margin-right: 1rem;
    border: 1px solid color(gray-shade);

    svg {
      font-size: size(lg);
    }

    @include media-680 {
      display: none;
    }
  }
}
