@use "../../../../styles/helpers/helpers" as *;

.friendOptBox {
  position: relative;
  grid-row: 1;
  grid-column: 2;
  justify-self: end;

  .optionTriggerBtn {
    margin-right: 0.75rem;
    color: color(dark-shade);
    font-size: size(xl);
    transition: all 0.25s;
  }

  .friendOptWindow {
    position: absolute;
    width: 15rem;
    top: 2.5rem;
    right: -100%;
    padding: 0.75rem;
    border-radius: radius(xs-3);
    border: 1px solid color(gray-shade);
    background: color(light);
    @include animateMoveTop(0.12s);
    box-shadow: shadow(vertical-sm);

    .optionBtn {
      @include flexBox;
      @include flexProperty(flex-start, center);
      gap: 0.75rem;
      text-transform: capitalize;

      span {
        transition: color 0.2s ease;
      }

      svg {
        font-size: size(lg);
      }

      &:hover > span {
        color: color(red-b);
      }
    }
  }
}
