@use "../../../../styles/helpers" as *;

.requestsList {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 2.7rem;
  align-items: start;
  padding: 0 2rem;
  margin-top: 4rem;

  @include media-680 {
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem 2rem;
    margin-top: 3rem;
    padding: 0 1rem;
  }

  @include media-480 {
    grid-template-columns: repeat(2, 1fr);
  }

  .requestItem {
    overflow: hidden;
    max-width: 20rem;
    min-width: 18rem;
    display: grid;
    row-gap: 0.75rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 15rem) repeat(3, max-content);
    padding-bottom: 1.2rem;
    border-radius: radius(xs);
    background: color(light);
    box-shadow: shadow(radial-sm);
  }

  .friendName {
    grid-row: 2;
    margin-top: 0.4rem;
    font-size: size(base);
    font-weight: weight(md);
    text-transform: capitalize;
    color: color(dark-shade);
  }

  .muntuals {
    grid-row: 3;
    font-size: size(xs);
  }

  .friendName,
  .muntuals {
    padding: 0 0.75rem;
  }

  button[data-req-btn] {
    margin: 0 0.75rem;
  }

  .emptyRequestsMessage {
    grid-column: 1/-1;
  }

  .friendImg {
    grid-row: 1;
    width: 100%;
    height: 100%;

    & img {
      @include fitImage(cover, center);
    }
  }
}
