@use "../../../../styles/helpers" as *;

.showMoreBtn {
  background: color(gray-tint);
  display: inline-block;
  border-radius: radius(xs-2);
  padding: 0 1rem;
  font-weight: weight(md);
  text-transform: capitalize;
  text-decoration: underline;
  font-size: size(sm);
}
