@use "../../../styles/helpers/helpers" as *;
@use "../../../styles/helpers/components" as *;

.textFieldContainer {
  width: 100%;
  @include fieldContainer;

  &.error .textArea {
    border-color: color(red-b);
  }

  &.focused .textArea {
    border-color: color(blue-light);
  }

  .textArea {
    position: relative;
    resize: none;
    outline: none;
    width: 100%;
    padding: 0 1rem;
    // padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
    border-radius: 0.5rem;
    font-family: inherit;
    @include scrollBar("&", 0.7rem);
    background: color(light);
    color: color(dark-shade);

    &::placeholder {
      padding: 0;
      padding-top: 0.5rem;
      text-transform: capitalize;
      opacity: 0.5;
    }
  }

  .txtFieldLabel {
    @include label;
  }

  .txtFieldError {
    @include errorMessage;
  }
}
