@use "../../../../styles/helpers/helpers" as *;

.mainNavActions {
  flex: 3;
  height: 100%;
  @include flexBox;
  @include flexProperty(flex-end, center);
  gap: 2rem;
  padding: 1rem;

  @include media-680 {
    gap: 1.5rem;
  }

  &BurgerBtn {
    display: none;

    @include media-960 {
      display: block;
    }
  }

  &BurgerBtn,
  .actionBtn a,
  .actionBtn {
    height: max-content;
  }

  .actionBtn a,
  .actionBtn {
    position: relative;
    @include flexBox;
    @include flexProperty(center, center);
  }

  .actionBadge {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(50%, -40%);
    @include flexBox;
    @include flexProperty(center, center);
    font-size: size(xs);
    background: color(red-b);
    border-radius: radius(full);
  }

  & svg {
    font-size: size(lg);
  }
}
