@use "../../../../styles/helpers/components/navigation" as *;
@use "../../../../styles/helpers/abstract/media" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;

.mainNavActions {
  flex: 3;
  height: 100%;
  @include flexBox;
  @include flexProperty(flex-end, center);
  @include actions;

  &BurgerBtn {
    display: none;

    @include media-960 {
      display: block;
    }
  }

  .actionBtn {
    position: relative;
  }

  .actionBadge {
    position: absolute;
    @include flexBox;
    @include flexProperty(center, center);
  }
}
