@use "../../../../styles/helpers/helpers" as *;
@use "../../../../styles/helpers/components/avatar" as *;
@use "../../../../styles/helpers/components/nav-modal" as *;

.navAvatarBox {
  position: relative;
  cursor: pointer;

  .avatar {
    @include avatar;
  }

  .navAvatarModal {
    min-width: 18rem;
    @include navModal;
    top: calc(app(nav-h) + 0.5rem);
    right: -1rem;
    font-weight: weight(base);
    overflow: hidden;

    & li {
      padding: 0.55rem 1rem;

      // @include animateSlideInBgToRight(color(blue-shade), color(light));
      // @include animateSlideInBgToRight();

      transition: all 0.2s ease;

      &:hover {
        // background: color(blue-tint);
        color: color(light);
        background: color(blue-shade);
      }
    }

    & li:last-child {
      font-weight: weight(lg);
    }
  }

  .navAvatarModal {
    position: absolute;
    @include flexBox(column);
    text-transform: capitalize;

    a {
      display: inline-block;
      width: 100%;
    }
  }
}
