@use "../../../../styles/helpers" as *;

.mainNav {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0rem;
  height: app(nav-h);
  @include flexBox;
  @include flexProperty(flex-start, center);
  padding: 0 1rem;
  gap: 1rem;
  background: color(blue-shade);
  color: color(light);
  box-shadow: shadow(vertical-lg);

  &Logo {
    flex: 1;
  }
}
