@use "../../../../styles/helpers" as *;
@use "../../../../styles/helpers/components/nav-modal" as *;

.mainNavList {
  flex: 4;
  @include flexBox;
  gap: 1.75rem;
  text-transform: uppercase;

  @include media-960 {
    display: none;
    overflow: hidden;
    width: 20rem;
    position: absolute;
    top: calc(app(nav-h) + 2rem);
    right: calc(50% - 10rem);
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    @include navModal;

    li {
      width: 100%;
      transition: all 0.2s ease;
      // @include animateSlideInBgToRight;

      &:hover {
        // background: color(blue-tint);
        color: color(light);
        background: color(blue-shade);
      }

      a {
        height: 100%;
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: inherit;
      }
    }

    &.activeNav {
      display: flex;
    }
  }
}
