@use "./nav-variables" as *;
@use "../../../../styles/helpers" as *;
@use "../../../../styles/helpers/components" as *;

.searchWindow {
  position: absolute;
  text-transform: capitalize;
  z-index: -1;
  top: -4rem;
  width: 100%;
  min-height: 14rem;
  max-height: $search-list-max-h;
  padding-top: $search-window-top;
  overflow: hidden;
  background: color(light);
  color: color(dark-shade);
  box-shadow: shadow(vertical-xl);
  border-bottom-left-radius: radius(xs);
  border-bottom-right-radius: radius(xs);
  @include animateMoveBottom;

  .resultsList {
    max-width: 100%;
    max-height: calc($search-list-max-h - $search-window-top);
    @include flexBox(column);
    gap: 0.8rem;
    margin: 0 0.5rem;
    padding: 1rem 0;
    border-radius: inherit;
    @include scrollBar("&", 1rem, 1rem, 1rem, 1rem);

    &Item {
      @include flexBox;
      @include flexProperty(flex-start, center);
      gap: 1rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      border-radius: radius(xs-2);
      transition: all 0.2s ease;

      &:hover {
        background: color(blue-tint);
      }
    }
  }

  .searchError {
    position: relative;
    top: app(nav-h);
  }
}
