@use "../../../styles/helpers/abstract/functions" as *;
@use "../../../styles/helpers/abstract/mixins" as *;
@use "../../../styles/helpers/abstract/media" as *;

.deletedPost {
  position: relative;
  width: 60rem;
  @include flexBox(column);
  @include flexProperty(center, center);
  gap: 1rem;
  margin: 0 auto;
  padding: 4rem;
  font-size: size("largeSize");
  font-weight: weight("boldWeight");
  text-transform: capitalize;
  text-align: center;
  border-radius: 0.5rem;
  background: color("whiteColor");
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  & > svg {
    font-size: size("headingSecondarySmallSize");
    color: color("redColor");
  }

  @include media-960 {
    width: 100%;
  }

  @include media-480 {
    font-size: size("regullarSize");
  }
}
