@use "../../../styles/helpers" as *;

.selectAudienceBox {
  position: relative;
  text-transform: capitalize;
  font-size: size(sm);
  overflow: hidden;
  border-radius: radius(xs-2);
  background: color(light);
  transition: all 0.2s ease-out;

  &.activeSelection {
    box-shadow: shadow(vertical-xl);
    transform: scale(1.05) translateX(0.5rem);
    padding-top: 0.5rem;
  }

  svg {
    font-size: size(base);
  }

  button > span {
    line-height: 1;
  }

  .selectAudienceMainBtn {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;
    border: 1px solid color(gray-shade);
    width: 14rem;
    padding: 0.5rem 1rem;
    border-radius: inherit;
  }

  .selectAudienceIndicator {
    transition: all 0.2s;
    margin-left: auto;
  }

  &.activeSelection .selectAudienceIndicator {
    transform: rotate(180deg);
    color: color(blue-light);
  }

  &.activeSelection .selectAudienceMainBtn {
    border: none;
  }

  .audienceSelectionsList {
    @include flexBox(column);
    @include flexProperty(center, flex-start);
    border-radius: inherit;
    background: color(light);
    @include animateMoveBottom(0.2s);

    & button {
      @include flexBox;
      @include flexProperty(flex-start, center);
      gap: 0.5rem;
      width: 100%;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease;

      &:hover {
        background: color(blue-tint);
      }
    }
  }
}
