@use "../../../styles/helpers/abstract/mixins" as *;
@use "../../../styles/helpers/abstract/functions" as *;
@use "../../../styles/helpers/abstract/animation" as *;

.selectAudienceBox {
  position: relative;
  text-transform: capitalize;
  font-size: size("smallSize");
  overflow: hidden;
  border-radius: 0.5rem;
  background: color("whiteColor");

  .selectAudienceMainBtn {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.25rem;
    border: 1px solid color(darkGreyColor);
    width: 12rem;
    padding: 0.5rem;
    border-radius: inherit;
  }

  .selectAudienceIndicator {
    transition: all 0.2s;
    margin-left: auto;
  }

  &.activeSelection .selectAudienceIndicator {
    transform: rotate(180deg);
  }

  &.activeSelection .selectAudienceMainBtn {
    border-bottom: none;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  .audienceSelectionsList {
    @include flexBox(column);
    @include flexProperty(center, flex-start);
    gap: 0.25rem;
    padding-top: 0;
    margin-top: -0.2rem;
    border-radius: inherit;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border: 1px solid color("darkGreyColor");
    border-top: none;
    background: color("whiteColor");
    @include animateMoveBottom(0.2s);

    & button {
      @include flexBox;
      @include flexProperty(flex-start, center);
      gap: 0.25rem;
      width: 100%;
      padding: 0 0.5rem;
    }
  }
}
