@use "../../../styles/helpers/helpers" as *;
@use "../../../styles/helpers/components" as *;

$border-w: 1px;
$border: $border-w solid color(dark-shade);
$selection-w: 15rem;

.formSelect {
  @include inputField;
  width: $selection-w;

  .selectContainer {
    .selectControl {
      border-radius: radius(xs-2);
      outline: none;
      cursor: pointer;
      box-shadow: none;
      border: none;
      border: 1px solid color(dark-shade);

      &.focused {
        border: 1px solid color(blue-light);
      }

      &.error {
        border: 1px solid color(red-b);
      }

      .indicatorContainer {
        height: $inp-h;

        .selectSeparator {
          display: none;
        }
      }
    }

    .selectPlaceholder {
      @include inputPlaceholder;
    }

    .selectControl:hover {
      border: 1px solid color(dark-shade) !important;
    }

    .optionsContainer {
      padding: 0;
      font-size: size(sm);

      .optionMenu {
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 1rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0.5rem;
          background: color(dark);
        }

        &::-webkit-scrollbar-thumb:hover {
          background: color(dark-shade);
        }

        &::-webkit-scrollbar-track {
          border-radius: 0.5rem;
          background: color(gray-b);
        }
      }

      .selectOption {
        cursor: pointer;
        pointer-events: all;
      }
    }
  }
}
