@use "../../../styles/helpers" as *;
@use "../../../styles/helpers/components" as *;

.shareModal {
  border-radius: radius(md-1);
  overflow: hidden;

  @include media-960 {
    border-radius: 0rem;
  }

  .modalContent {
    @extend %postCrudModal;

    .descriptionField {
      border-radius: 0rem;
      border: none;
      font-size: size(sm);
      max-height: 20rem;
      overflow: auto;

      @include scrollBar("&");
    }
  }
}
