@use "../../../styles/helpers" as *;

.inlineBtnLink {
  display: inline;

  .showMoreBtn {
    display: inline;
    font-size: inherit;
    padding: 0 0.5rem;
    margin-left: 0.25rem;
    font-weight: weight(md);
    border-radius: 1rem;
    background: color(gray-shade);
  }
}

.showMoreBtn.showMoreBtnTransparent {
  background: none;
  display: inline;
}
