@use "../../abstract/mixins" as *;

@mixin avatarFig {
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  & img {
    @include fitImage;
    border-radius: inherit;
  }
}
