@use "../../abstract/functions" as *;
@use "../../abstract/mixins" as *;

@mixin fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin label {
  font-weight: weight(md);
  font-size: size(sm);
  text-transform: capitalize;
  cursor: pointer;
}

@mixin inpPlaceHolder {
  text-transform: capitalize;
  font-size: size(xs);
  opacity: 0.5;
}

$inp-h: 4rem;

@mixin inp {
  // may be actual input or box in which input is placed
  .inpField {
    @include flexBox;
    border: 1px solid color(dark-shade);
    border-radius: 0.3rem;
    overflow: hidden;
    background: color(light);

    &.error {
      border: 1px solid color(red-b);
    }
  }

  // is actual input
  .inp {
    display: inline-block;
    width: 100%;
    outline: none;
    height: $inp-h;
    color: color(dark);
    padding: 0 1rem;
    font-size: size(sm);
    border: none;

    &::placeholder {
      @include inpPlaceHolder();
    }
  }

  .inpField.inp {
    border: 1px solid color(dark-shade);
  }
}

@mixin errMsg {
  color: color(red-b);
  font-size: size(xs);
  text-align: center;

  &::first-letter {
    text-transform: capitalize;
  }
}

@mixin inpField {
  @include fieldContainer;

  @include inp;

  .iconBox {
    width: 3rem;
    @include flexBox;
    @include flexProperty(center, center);
    cursor: pointer;
    border: none;
    background: inherit;

    svg{
      font-size: 2.2rem;
    }
  }

  .inpLabel {
    @include label;
  }

  .inpErrMsg {
    @include errMsg;
  }
}
