@use "../../abstract/functions" as *;
@use "../../variables/variables" as *;

$modal-list-gap: 0.5rem;

@mixin modalWindowSm {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $modal-list-gap;
  font-size: size("regullarSize");
  border-radius: 0.5rem;
  background: $bg-light;
  color: $txt-dark;
  text-transform: capitalize;
  animation: moveTop 0.15s;

  [data-modal-sm-btn] {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    transition: all 0.2s ease-out;

    & svg {
      font-size: size("bigSize");
    }

    &:hover {
      color: color("blackColor");
    }
  }
}
