@use "../../abstract/functions" as *;
@use "../../variables/variables" as *;

@mixin showMoreBtn {
  padding: 0 0.5rem;
  margin-left: 0.25rem;
  font-weight: weight(md);
  border-radius: 1rem;
  background: color(white-shade);
}
