@use "../abstract/functions" as *;
@use "../abstract/animation" as *;
@use "../variables/variables" as *;

@mixin blogPostContainer {
  border: 1px solid color(dark-light-grey);
  border-radius: radius(xs-2);
  background: color(light);
  box-shadow: shadow(radial-sm);
  // overflow: hidden;

  .blogPostMedia {
    width: 100%;
    aspect-ratio: 3/1;
    margin: 0 1rem 0 0;
    border-radius: inherit;
  }

  .blogPostInfo {
    padding: 1rem;
  }

  .blogPostShortDesc {
    margin-top: 1rem;
    font-size: size(sm);
    color: color(txt-dark);
  }
}

@mixin blogPostOptions {
  z-index: auto;

  .blogPostOptBtn {
    font-size: size(lg);
  }
}

@mixin blogPostOptionsList {
  right: -1.5rem;
  top: 2rem;
  width: 15rem;
  min-height: app(options-list-min-h);
  @include animateMoveTop;
}

@mixin blogPostReviewDetails {
  gap: 1rem;

  .blogPostTitle {
    max-width: 90%;
    text-transform: capitalize;

    h3 {
      font-size: size(lg);
      font-weight: weight(lg);
      width: max(40%, 100%);
    }
  }

  .publisher {
    gap: 0.25rem;

    .blogPostUserName {
      font-size: size(xs);
      font-weight: weight(md);
    }

    [data-tags] {
      font-size: size(xs);
    }

    [data-img] {
      max-width: $identifier-fig-sm;
      max-height: $identifier-fig-sm;
    }
  }

  .blogPostLabels {
    gap: 0.5rem;
    font-size: size(xs);

    span {
      background: color(blue-tint);
      padding: 0.15rem 1rem;
      border-radius: radius(sm);
    }
  }

  .categoryBox {
    text-transform: capitalize;
    font-size: size(sm);
    gap: 0.3rem;

    .category {
      font-weight: weight(md);
    }
  }
}

@mixin blogPostUserInteractionReview {
  margin-top: 0.5rem;
  gap: 1rem;
  font-size: size(sm);
  padding-right: 2.8rem;

  .blogPostInteractions {
    gap: 1rem;

    span {
      gap: 0.25rem;

      & svg {
        font-size: size(lg);
      }
    }
  }
}
