@use "../abstract/functions" as *;
@use "../variables/variables" as *;
@use "../abstract/media" as *;

@mixin bookmarkPage {
  max-width: $container-width;
  min-height: $nested-page-min-h;
  margin-top: $space-top-under-user-cover;
  margin-bottom: $space-bottom-under-user-cover;
  gap: 4rem;
  padding: 3rem 4rem 2rem 4rem;
  background: $bg-light;
  border-radius: $rounded-nested-page;
  box-shadow: $shadow-base;
  transition: all 5.3s ease-out;

  @include media-960 {
    margin-top: $space-top-under-user-cover-sm;
    margin-bottom: $space-bottom-under-user-cover-sm;
  }

  @include media-480 {
    padding: 2rem 1rem;
  }
}
