@use "../variables/variables" as *;
@use "../abstract/media" as *;

@mixin feedContainer {
  gap: 2rem;
  margin-top: $nav-height;
}

@mixin feed {
  padding: 1rem;
  padding-top: 4rem;
  gap: 4rem;

  .feedInfiniteScroll {
    gap: 4rem;
  }

  @include media-480 {
    padding-top: 2rem;
  }
}
