@use "../variables/variables" as *;
@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../abstract/animation" as *;

@mixin friendsPageContainer {
  max-width: $container-width;
  min-height: $nested-page-min-h;
  margin-top: $space-top-under-user-cover;
  margin-bottom: $space-bottom-under-user-cover;
  padding-bottom: 2rem;
  border-radius: $rounded-nested-page;
  background: color("whiteColor");
  box-shadow: $shadow-base;
  overflow: hidden;

  @include media-960 {
    margin-top: $space-top-under-user-cover-sm;
    margin-bottom: $space-bottom-under-user-cover-sm;
  }
}

@mixin friendsPageNavigation {
  font-size: size("smallSize");
  font-weight: weight("boldWeight");
  border-bottom: 1px solid color(darkGreyColor);
  text-transform: capitalize;
  color: color("darkGreyColor");

  @include media-480 {
    font-size: size("smallerSize");
  }

  .friendsSearch {
    border: 1px solid color("darkGreyColor");
    margin-right: 1rem;
  }

  & a {
    display: block;
    box-sizing: content-box;
    padding: 1rem 2rem;
    transition: color 0.2s, background-color 0.2s;

    @include media-480 {
      padding: 0.75rem;
    }

    &:hover {
      background-color: color("blueTintColor");
      color: color("blueColor");
    }
  }

  .active {
    border-bottom: 2px solid color("blueColor");
    color: color("blueColor");
  }
}

@mixin allFriendsPage {
  margin-top: 4rem;
  padding: 0 2rem;
  gap: 2rem 3rem;

  @include media-680 {
    margin-top: 3rem;
    padding: 0 1rem;
    gap: 0rem 3rem;
  }

  .friend {
    column-gap: 1rem;
    border-radius: $rounded-sm;
    box-shadow: $shadow-base-sm;
  }

  .friendImg {
    border-radius: inherit;
  }

  .friendName {
    margin-top: 0.8rem;
    font-size: size("smallSize");
    font-weight: weight(mediumWeight);
    text-transform: capitalize;
    color: color("darkGreyColor");

    &:hover {
      text-decoration: underline;
    }
  }

  .muntuals {
    font-size: size("smallerSize");
    margin-top: -2rem;
  }
}

@mixin friendOptions {
  margin-right: 0.5rem;
  color: color("darkGreyColor");

  .optBtn {
    font-size: size("bigSize");
    transition: all 0.25s;
  }

  .friendOptWindow {
    width: 14rem;
    top: 2rem;
    right: 0;
    padding: 0.5rem;
    border-radius: $rounded-sm;
    border: 1px solid color("darkGreyColor");
    background: color("whiteColor");
    @include animateMoveTop;
    transition: all 0.1s;

    &:hover {
      border-color: color("redColor");
    }
  }
}

@mixin requestsList {
  margin-top: 4rem;
  gap: 2rem 2.7rem;
  padding: 0 2rem;

  @include media-680 {
    margin-top: 3rem;
    gap: 0rem 2rem;
    padding: 0 1rem;
  }
}

@mixin requestItem {
  .requestItem {
    row-gap: 0.5rem;
    min-width: 18rem;
    max-width: 20rem;
    padding-bottom: 0.75rem;
    border-radius: $rounded-sm;
    background: color("whiteColor");
    box-shadow: $shadow-base-sm;
  }

  .friendName {
    margin-top: 0.4rem;
    font-size: size("smallSize");
    font-weight: weight(mediumWeight);
    text-transform: capitalize;
    color: color("darkGreyColor");
  }

  .muntuals {
    font-size: size("smallerSize");
  }

  .friendName,
  .muntuals {
    padding: 0 0.5rem;
  }

  button[data-req-btn] {
    margin: 0 0.5rem;
  }
}
