@use "../variables/variables" as *;
@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../abstract/animation" as *;

@mixin friendsPageContainer {
  max-width: app(container-w);
  min-height: app(nested-page-min-h);
  margin-top: $space-top-under-user-cover;
  margin-bottom: $space-bottom-under-user-cover;
  padding-bottom: 2rem;
  border-radius: radius(2xs);
  background: color(light);
  box-shadow: shadow(radial);
  overflow: hidden;

  @include media-960 {
    margin-top: $space-top-under-user-cover-sm;
    margin-bottom: $space-bottom-under-user-cover-sm;
  }
}

@mixin friendsPageNavigation {
  font-size: size(sm);
  font-weight: weight(lg);
  border-bottom: 1px solid color(dark-grey);
  text-transform: capitalize;
  color: color(dark-grey);

  @include media-480 {
    font-size: size(xs);
  }

  .friendsSearch {
    border: 1px solid color(dark-grey);
    margin-right: 1rem;
  }

  & a {
    display: block;
    box-sizing: content-box;
    padding: 1rem 2rem;
    transition: color 0.2s, background-color 0.2s;

    @include media-480 {
      padding: 0.75rem;
    }

    &:hover {
      background-color: color(blue-tint);
      color: color(blue-shade);
    }
  }

  .active {
    border-bottom: 2px solid color(blue-shade);
    color: color(blue-shade);
  }
}

@mixin allFriendsPage {
  margin-top: 4rem;
  padding: 0 2rem;
  gap: 2rem 3rem;

  @include media-680 {
    margin-top: 3rem;
    padding: 0 1rem;
    gap: 0rem 3rem;
  }

  .friend {
    column-gap: 1rem;
    border-radius: radius(2xs);
    box-shadow: shadow(radial-sm);
  }

  .friendImg {
    border-radius: inherit;
  }

  .friendName {
    margin-top: 0.8rem;
    font-size: size(sm);
    font-weight: weight(md);
    text-transform: capitalize;
    color: color(dark-grey);

    &:hover {
      text-decoration: underline;
    }
  }

  .muntuals {
    font-size: size(xs);
    margin-top: -2rem;
  }
}

@mixin friendOptions {
  margin-right: 0.5rem;
  color: color(dark-grey);

  .optBtn {
    font-size: size(lg);
    transition: all 0.25s;
  }

  .friendOptWindow {
    width: 14rem;
    top: 2rem;
    right: 0;
    padding: 0.5rem;
    border-radius: radius(2xs);
    border: 1px solid color(dark-grey);
    background: color(light);
    @include animateMoveTop;
    transition: all 0.1s;

    &:hover {
      border-color: color(red-b);
    }
  }
}

@mixin requestsList {
  margin-top: 4rem;
  gap: 2rem 2.7rem;
  padding: 0 2rem;

  @include media-680 {
    margin-top: 3rem;
    gap: 0rem 2rem;
    padding: 0 1rem;
  }
}

@mixin requestItem {
  .requestItem {
    row-gap: 0.5rem;
    min-width: 18rem;
    max-width: 20rem;
    padding-bottom: 0.75rem;
    border-radius: radius(2xs);
    background: color(light);
    box-shadow: shadow(radial-sm);
  }

  .friendName {
    margin-top: 0.4rem;
    font-size: size(sm);
    font-weight: weight(md);
    text-transform: capitalize;
    color: color(dark-grey);
  }

  .muntuals {
    font-size: size(xs);
  }

  .friendName,
  .muntuals {
    padding: 0 0.5rem;
  }

  button[data-req-btn] {
    margin: 0 0.5rem;
  }
}
