@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;
@use "../abstract/animation" as *;
@use "./layouts/avatar" as *;

@mixin onEveryNavModal {
  border-radius: radius(2xs);
  font-size: size(base);
  color: color(dark-shade);
  background: color(light);
  box-shadow: shadow(vertical-lg);
  @include animateMoveTop;
}

@mixin nav {
  height: app(nav-h);
  padding: 0 1rem;
  gap: 1rem;
  background: color(blue-shade);
  color: color(light);
  box-shadow: shadow(vertical-lg);
}

@mixin navList {
  gap: 1.75rem;

  @include media-960 {
    width: 20rem;
    top: 8rem;
    right: calc(50% - 10rem);
    padding: 1rem;
    text-align: center;
    gap: 1.25rem;
    @include onEveryNavModal;
  }
}

$search-window-top: 8rem;

@mixin searchBar {
  padding: 0 1rem;

  @include media-680 {
    .mainNavSearchBar {
      min-width: auto;
    }

    &.active .mainNavSearchBar {
      min-width: 16rem;
    }
  }

  @include media-480 {
    &.active {
      position: absolute;
      z-index: 99;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: calc(100vh + $search-window-top);
    }

    &.active .mainNavSearchBar {
      position: sticky;
      top: 1rem;
      width: 100%;
      height: 3rem;
    }

    &.active [data-searchbar-window] {
      height: 100%;
    }

    &.active [data-searchbar-result-list] {
      padding-top: 2rem;
    }
  }
}

@mixin searchWindow {
  z-index: -1;
  top: -4rem;
  width: 100%;
  height: 30rem;
  background: color(light);
  color: color(dark-shade);
  box-shadow: shadow(vertical-lg);

  .resultsList {
    z-index: 2;
    top: $search-window-top;
    width: 100%;
    max-height: calc(100% - $search-window-top);
    gap: 0.8rem;
    padding: 0 1rem 1rem 1rem;

    &Item {
      gap: 1rem;
    }
  }
}

@mixin actions {
  gap: 2rem;
  padding: 1rem;

  .actionBadge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -40%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    font-size: 1.1rem;
    background: color(red-b);
  }

  @include media-680 {
    gap: 1.5rem;
  }

  & svg {
    font-size: size(lg);
  }
}

@mixin avatar {
  .avatar {
    @include avatarFig;
  }

  .navAvatarModal {
    width: 18rem;
    top: 6rem;
    right: -1rem;
    overflow: hidden;
    font-weight: weight(base);
    @include onEveryNavModal;

    & li {
      padding: 0.5rem 0.75rem;
      transition: all 0.2s;

      &:hover {
        background: color(blue-tint);
      }
    }

    & li:last-child {
      font-weight: weight(lg);
    }
  }
}
