@use "../variables/variables" as *;
@use "../abstract/functions" as *;
@use "../abstract/animation" as *;
// @use "../abstract/components" as *;

@mixin notificationsModal {
  right: 2rem;
  top: calc(app(nav-h) + 2rem);
  width: 30rem;
  min-height: 10rem;
  max-height: 10rem;
  padding: 0.5rem;
  gap: 0.25rem;
  font-size: size(xs);
  border-radius: radius(xs);
  // border-bottom-left-radius:radius(xs);
  // border-bottom-right-radius: radius(xs);
  background: color(light);
  box-shadow: shadow(vertical-lg);
  // @include scrollBar("&");
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  transition: all 0.3s ease-out;
  @include animateMoveBottom(0.3s, 3rem);

  &.expanded {
    max-height: 40rem;
  }

  .cleanerBtnsBox {
    margin: 0.75rem 0;
    text-transform: capitalize;
    color: color(blue-shade);

    & button:hover {
      text-decoration: underline;
    }
  }

  .message {
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
    color: color(dark-light-grey);
  }
}

@mixin notificationItem {
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: radius(xs-2);
  transition: all 0.2s;

  &.unRead {
    background: color(blue-tint);
  }

  &:not(.unRead):hover {
    background: color(white-shade);
  }

  .notifyFig {
    min-width: 4rem;
    max-width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .notifyTime {
    font-size: size(2xs);
  }

  .notifyOptBtn {
    font-size: size(base);
  }
}

@mixin notificationOptionsList {
  right: 0;
  top: 1.5rem;
  width: 13rem;
  padding: 0.5rem;
  gap: 0.25rem;
  border-radius: radius(xs-3);
  text-transform: capitalize;
  background: color(light);
  color: color(dark-light-grey);
  box-shadow: shadow(vertical);
  @include animateMoveTop(0.2s);

  & button {
    gap: 0.35rem;
    transition: all 0.2s;

    & svg {
      font-size: size(base);
    }

    &:hover {
      color: color(dark-shade);
    }

    &:last-child:hover {
      color: color(red-b);
    }
  }
}
