@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;

@mixin post {
  width: min(100%, $post-w);
  padding: 1rem;
  border-radius: $rounded-sm;
  background: $bg-light;
  box-shadow: $shadow-base-sm;
}

@mixin postBodyUserIdentifier {
  & figure[data-img] {
    width: $identifier-fig-lg;
    height: $identifier-fig-lg;
  }
}

@mixin postDescription {
  font-size: $txt-base-sm;
  margin: 1rem 0 0.5rem 0.75rem;
  color: $txt-dark;
}

@mixin postMedia {
  order: -1;

  .postMedia {
    border-radius: $rounded-sm;
  }

  .multiLayOver {
    font-size: $txt-big;
    border-radius: $rounded-sm;
    background: rgba(0, 0, 0, 0.6);
    color: $txt-light;
  }
}

@mixin authenticPost {
  gap: 1rem;
  margin: 0.5rem 1.5rem 1rem 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: $rounded-xsm;
  background: $bg-dark-light;

  @include media-960 {
    margin: 0.5rem;
  }

  .media {
    order: -1;
  }

  .postAuthenticIdentifier {
    font-size: $txt-thumbnail;

    & figure[data-img] {
      width: $identifier-fig-md;
      height: $identifier-fig-md;
    }
  }

  .description {
    margin-top: -0.5rem;
    font-size: $txt-thumbnail;
  }
}

@mixin sharedBlogPost {
  [data-blog-post-identifier] {
    gap: 0.75rem;
  }

  [data-title] {
    font-size: $txt-base;
  }

  & > [data-img] {
    aspect-ratio: 2/1;
  }

  [data-categories-list] {
    font-size: $txt-thumbnail;
  }

  [data-user-interacion] {
    font-size: $txt-thumbnail;

    & svg {
      font-size: $txt-base;
    }
  }

  [data-article-text] {
    font-size: $txt-thumbnail;
  }
}
