@use "../variables/variables" as *;
@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../abstract/mixins" as *;

$space-y: 4rem;

$space-x: 4rem;
$space-x-md: 2rem;

@mixin postsPageContainer {
  width: min(100%, app(container-w));
  gap: $space-x;
  padding-top: $space-top-under-user-cover;

  @include media-1280 {
    padding: 0 1rem;
    padding-top: $space-top-under-user-cover;
  }

  @include media-960 {
    padding: 0 1rem;
    padding-top: $space-top-under-user-cover-sm;
    gap: $space-x-md;
  }
}

@mixin postsPageSideBar {
  top: 7rem;
  width: max(30rem, 35%);
  gap: $space-y;

  @include media-680 {
    top: 0;
    min-width: 80%;
  }

  @include media-480 {
    min-width: 100%;
  }
}

@mixin postsPageUserInfo {
  gap: 1.5rem;
  padding: 2rem 1rem;
  font-size: size(sm);
  border-radius: radius(sm);
  background: color(light);
  box-shadow: shadow(radial);

  @include media-480 {
    // font-size: size(xs);
  }

  & li {
    gap: 0.5rem;
    line-height: 1.3;

    & strong {
      color: color(dark);
      text-transform: capitalize;
      font-weight: weight(lg);
    }
  }

  .icon {
    font-size: size(base);
    width: 2rem;

    @include media-480 {
      font-size: size(sm);
    }
  }

  .smallIcon {
    font-size: size(lg);

    @include media-480 {
      font-size: size(base);
    }
  }
}

@mixin postsPageUserFriends {
  padding: 1rem;
  border-radius: radius(sm);
  font-size: size(xs);
  background: color(light);
  box-shadow: shadow(radial);

  .userFriendsIntro {
    margin-bottom: 1rem;
    padding: 0 0.8rem;
    text-transform: capitalize;
    color: color(dark);
  }

  .introTitle {
    font-size: size(base);
    font-weight: weight(lg);
  }

  .showAll {
    color: color(blue-shade);
  }

  .friendImg {
    height: 8.5rem;
    border-radius: radius(xs-2);
    overflow: hidden;
    aspect-ratio: 1/1;

    @include media-680 {
      height: 11.5rem;
    }

    @include media-480 {
      height: 8.5rem;
    }

    & img {
      @include fitImage;
    }
  }
}

@mixin postsPageContent {
  gap: $space-y;

  .postsPageContentScroll {
    row-gap: $space-y;
  }

  @include media-680 {
    width: 100%;
    max-width: 80%;
  }

  @include media-480 {
    max-width: 100%;
  }
}
