@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;

$heading-space-bottom: 3rem;
$heading-v-pad: 1.75rem;
$base-space-between: 2rem;

$forms-inner-container-w: 40rem;

@mixin settingsHeading {
  padding: 3rem $heading-v-pad;
  margin-bottom: $heading-space-bottom;
  border-bottom: 1px solid color(dark-shade);
  text-transform: capitalize;
  background: color(light);

  @include media-680 {
    padding: 1.5rem;
  }
}

@mixin settingsHeadingSecondary {
  padding: 1.5rem $heading-v-pad;
  margin: 1.5rem 0;
  border-bottom: 1px solid color(dark-grey);
  text-transform: capitalize;
  font-weight: weight(lg);
}

@mixin listedContent {
  gap: $base-space-between;
}

@mixin allDetailsContainer {
  margin-top: calc(-#{$heading-space-bottom} / 2);
  gap: $base-space-between;
}

@mixin fragmentsContainer {
  //each fragment item
  padding: 0 calc($heading-v-pad * 2);

  @include media-960 {
    padding: 0rem;
  }
}

@mixin formsContainer {
  gap: $base-space-between; // space between form and update btns
  padding: 0 1rem;

  .form {
    gap: $base-space-between; // space between form fields
    width: $forms-inner-container-w;
  }

  .dateFrom,
  .dateTo {
    gap: $base-space-between; // space between date fields
  }

  .textFieldDesc {
    min-height: 8rem;
  }

  .dateField {
    gap: 0.5rem; // space between date field label and select

    & label {
      text-transform: capitalize;
    }
  }

  .singleBtn {
    min-width: 40rem;
    padding: 1rem 0;

    &.deleteAccountBtn {
      background: color(red-b);
    }
  }
}

@mixin updateBtnBox {
  width: $forms-inner-container-w;
  gap: $base-space-between;

  .cancelBtn,
  .updateBtn {
    padding: 0.75rem 4rem;
    border-radius: radius(2xs);
    box-shadow: shadow(radial-sm);
    text-transform: capitalize;
    transition: all 0.2s;

    &:hover {
      filter: brightness(115%);
    }
  }

  .cancelBtn {
    background: color(white-shader);
  }

  .updateBtn {
    background: color(blue-shade);
    color: color(light);
  }
}
