@forward "../variables/variables";

@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;

@mixin userCoverContainer {
  margin-top: app(nav-h);
  font-size: size(sm);
  border-bottom: 1px solid rgba(color(dark-shade), 0.3);
  background: color(light);
  box-shadow: shadow(vertical);
}

@mixin userCoverContent {
  color: color(silver-shade);
}

%change-media--btn {
  position: absolute;
  @include flexBox;
  @include flexProperty(center, center);
  width: 4rem;
  height: 4rem;
  background: rgba(color(silver-shade), 0.7);
  font-size: size(xl);
  border-radius: 50%;
  color: color(light);
  cursor: pointer;
}

@mixin coverImage {
  .changeMediaBtn {
    @extend %change-media--btn;
    top: 1rem;
    right: 1rem;
  }
}

@mixin profileImage {
  .profileImg {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid color(light);
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }

  .changeMediaBtn {
    @extend %change-media--btn;
    bottom: 1.2rem;
    right: 0.6rem;

    @include media-680 {
      right: -0.3rem;
    }
  }
}

@mixin updateCoverButtons {
  gap: 2rem;

  .cancelUpdateBtn {
    background: color(white-shade);
    color: color(dark-grey);
  }
}

@mixin userNameAndEmail {
  .userName {
    font-size: size(lg);
    font-weight: weight(lg);
    text-transform: capitalize;
    color: color(dark);
  }

  .email {
    color: color(dark-shade);
  }

  @include media-680 {
    .userName {
      font-size: size(base);
    }
  }
}

@mixin friendShip {
  gap: 2rem;
}

@mixin profileNavigation {
  height: 100%;
  padding: 0 3rem;
  font-weight: weight(lg);
  text-transform: capitalize;
  border-top: 1px solid color(dark-shade);
  color: color(dark-shade);

  @include media-680 {
    padding: 0 1rem;
  }

  @include media-480 {
    font-size: size(sm);
    padding: 0 0.5rem;
  }

  .navList {
    gap: 2.5rem;

    & li {
      padding: 0.5rem 1rem;
      border-radius: radius(3xs);
    }

    @include media-680 {
      gap: 0.5rem;
    }

    @include media-480 {
      gap: 0.25rem;

      & li {
        padding: 0.5rem;
      }
    }
  }

  .active {
    color: color(blue-shade);
    background: color(blue-tint);
  }
}
