@forward "../variables/variables";

@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;

@mixin userCoverContainer {
  margin-top: $nav-height;
  font-size: size("smallSize");
  border-bottom: 1px solid rgba(color("darkGreyColor"), 0.3);
  background: color("whiteColor");
  box-shadow: $shadow-base-v;
}

@mixin userCoverContent {
  color: color("darkLightGreyColor");
}

%change-media--btn {
  position: absolute;
  @include flexBox;
  @include flexProperty(center, center);
  width: 4rem;
  height: 4rem;
  background: rgba(color("darkLightGreyColor"), 0.7);
  font-size: size("largeSize");
  border-radius: 50%;
  color: color("whiteColor");
  cursor: pointer;
}

@mixin coverImage {
  .changeMediaBtn {
    @extend %change-media--btn;
    top: 1rem;
    right: 1rem;
  }
}

@mixin profileImage {
  .profileImg {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid color("whiteColor");
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }

  .changeMediaBtn {
    @extend %change-media--btn;
    bottom: 1.2rem;
    right: 0.6rem;

    @include media-680{
      right: -0.3rem;
    }
  }
}

@mixin updateCoverButtons {
  gap: 2rem;

  .cancelUpdateBtn {
    background: color("whiteShadeColor");
    color: color("darkGreyColor");
  }
}

@mixin userNameAndEmail {
  .userName {
    font-size: size("bigSize");
    font-weight: weight("boldWeight");
    text-transform: capitalize;
    color: color("blackColor");
  }

  .email {
    color: $txt-gray;
  }

  @include media-680 {
    .userName {
      font-size: size("regullarSize");
    }
  }
}

@mixin friendShip {
  gap: 2rem;
}

@mixin profileNavigation {
  height: 100%;
  padding: 0 3rem;
  font-weight: weight("boldWeight");
  text-transform: capitalize;
  border-top: 1px solid color("darkGreyColor");
  color: color("darkGreyColor");

  @include media-680 {
    padding: 0 1rem;
  }

  @include media-480 {
    font-size: size("smallSize");
    padding: 0 0.5rem;
  }

  .navList {
    gap: 2.5rem;

    & li {
      padding: 0.5rem 1rem;
      border-radius: $rounded-xsm;
    }

    @include media-680 {
      gap: 0.5rem;
    }

    @include media-480 {
      gap: 0.25rem;

      & li {
        padding: 0.5rem;
      }
    }
  }

  .active {
    color: color("blueColor");
    background: color("blueTintColor");
  }
}
