@use "../../../styles/helpers" as *;

.feedContent {
  flex: 1;
  @include flexBox(column);
  padding: 1rem;
  padding-top: 4rem;
  gap: 4rem;

  @include media-480 {
    padding-top: 2rem;
  }

  .feedInfiniteScroll {
    @include flexBox(column);
    gap: 4rem;
  }
}
