@use "../../../../../styles/helpers/abstract/functions" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/abstract/media" as *;

.identifierPostTouch {
  & [data-identifier-userName] {
    grid-row: 1/3;
    align-self: center;
  }

  @include media-480 {
    gap: 0.5rem;

    & figure[data-img] {
      width: 3.5rem;
      height: 3.5rem;
    }

    & span p:first-child {
      font-size: size("smallerSize");
    }
  }
}

.createPostFooter {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 0.5rem;
  padding-top: 1rem;
  font-size: size("regullarSize");
  border-top: 1px solid color("darkGreyColor");
  cursor: pointer;

  @include media-480 {
    font-size: size("smallSize");
  }

  & svg {
    color: green;
  }

  .mediaFileInp {
    display: none;
  }
}

.touchInp {
  border: none;
  outline: none;
  height: 3.5rem;
  border-radius: 10rem;
  background: color("whiteShadeColor");
  padding-left: 2rem;
  margin: 1rem 0;

  &::placeholder {
    opacity: 0.5;
    font-style: italic;
    font-size: size("smallSize");
  }

  @include media-480 {
    height: 3rem;

    &::placeholder {
      font-size: size("smallerSize");
    }
  }
}
