@use "../../../../../styles/helpers/abstract/functions" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/abstract/media" as *;
@use "../../../../../styles/helpers/variables/variables" as *;

.createPost {
  width: min(100%, $post-w);
  margin: 0 auto;
  @include flexBox(column);
  padding: 2rem;
  border-radius: 1rem;
  background: color("whiteColor");
  box-shadow: $shadow-base;

  @include media-480 {
    padding: 1rem;
  }
}
