@use "../../../../../styles/helpers" as *;

.createPost {
  width: min(100%, app(post-w));
  margin: 0 auto;
  @include flexBox(column);
  padding: 2rem;
  border-radius: 1rem;
  background: color(light);
  box-shadow: shadow(radial-xl);

  @include media-480 {
    padding: 1rem;
  }
}
