@use "../../../../../styles/helpers" as *;
@use "../../../../../styles/helpers/components" as *;

.createPostModal {
  border-radius: radius(md-1);
  overflow: hidden;

  @include media-480 {
    border-radius: 0rem;
  }

  .modalContent {
    @extend %postCrudModal;
  }
}
