@use "../../../../../styles/helpers/abstract/functions" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/abstract/media" as *;
@use "../../../../../styles/helpers/variables/variables" as *;

.createPost {
  width: min(100%, app(post-w));
  margin: 0 auto;
  @include flexBox(column);
  padding: 2rem;
  border-radius: 1rem;
  background: color(light);
  box-shadow: shadow(radial);

  @include media-480 {
    padding: 1rem;
  }
}
