@use "../../../../../styles/helpers/abstract/media" as *;
@use "../../../../../styles/helpers/abstract/functions" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/variables/variables" as *;

.modalMain {
  border-radius: 1.2rem;
  overflow: hidden;
}

.createPostModal {
  $space-around: 1rem;
  $header-h: 8rem;
  $footer-h: 11rem;
  $max-modal-h: 40vw;
  $max-modal-h-md: 50vw;
  $max-modal-h-tablet: calc(100vh - $nav-height);

  [data-modal-close-btn] svg {
    fill: color("darkGreyColor");
  }

  .createPostModalContentBox {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 42vw;
    max-height: $max-modal-h;
    padding: $space-around;
    padding-top: $header-h;
    padding-bottom: $footer-h;
    background: color("whiteColor");

    @include media-1280 {
      width: 52vw;
      max-height: $max-modal-h-md;
    }

    @include media-960 {
      max-height: none;
      width: 100vw;
      height: $max-modal-h-tablet;
    }

    @include media-480 {
      border-radius: 0rem;
    }
  }

  %wrapper {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
  }

  .createPostHeader {
    @extend %wrapper;
    z-index: 99;
    top: 0;
    height: $header-h;
    padding: $space-around;
    align-items: flex-start;
  }

  .createPostFooterBox {
    @extend %wrapper;
    height: $footer-h;
    bottom: 0;
    @include flexBox(column);
    gap: 2rem;
    padding: $space-around;

    .postBtn {
      width: 100%;
      padding: 1rem;
      margin-top: auto;
    }

    @include media-480 {
      top: calc(100% - $footer-h - $footer-h / 2);
    }
  }

  .createPostAudience {
    position: absolute;
    left: 6rem;
    top: 3.2rem;
  }

  .content {
    max-height: calc($max-modal-h - $header-h - $footer-h - $space-around);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-1280 {
      max-height: calc($max-modal-h-md - $header-h - $footer-h - $space-around);
    }

    @include media-960 {
      max-height: calc(
        $max-modal-h-tablet - $header-h - $footer-h - ($space-around * 2)
      );
    }
  }

  .postTextField {
    display: inline-block;
    border: none;
    font-size: size("smallSize");
    border-radius: 0rem;

    &::placeholder {
      opacity: 0.5;
      font-style: italic;
      font-size: size("smallSize");
    }
  }

  .creationError {
    position: relative;
    top: $header-h;
  }
}
