@use "../../../styles/helpers/abstract/functions" as *;
@use "../../../styles/helpers/abstract/media" as *;
@use "../../../styles/helpers/variables/variables" as *;

.modalContent {
  .modalCloseBtn {
    position: absolute;
    z-index: 999;
    top: 1rem;
    right: 1.5rem;
    font-size: size("headingSecondarySmallSize");
  }

  .modalCloseBtn svg {
    color: color("whiteColor");
  }
}

.modal {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  width: max-content;
  height: max-content;
  align-items: center;
  left: 50%;
  top: calc(50% + ($nav-height / 2));
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: $rounded-sm;
  border: 1px solid rgba(299, 299, 299, 0.1);

  @include media-480 {
    left: 0;
    right: 0;
    top: $nav-height;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
    transform: translate(0, 0);
  }
}

.modalOverlay {
  position: fixed;
  z-index: 2;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
