@use "../../../styles/helpers" as *;

.searchField {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 0.5rem;
  height: 2.5rem;
  min-width: 18rem;
  padding: 0 0.75rem;
  text-transform: none;
  border-radius: radius(xs-2);
  background: color(gray-tint);

  .searchFieldLabel {
    @include flexBox;
    @include flexProperty(flex-start, center);
    color: color(dark-shade);
  }

  .searchFieldInp {
    width: 100%;
    height: 100%;
    font-size: size(sm);
    font-weight: weight(base);
    border: none;
    outline: none;
    background: transparent;
    color: color(dark-shade);

    &::placeholder {
      font-weight: weight(sm);
      font-style: italic;
    }
  }

  @include media-680 {
    &:not(.active) {
      padding: 0;
    }

    overflow: hidden;

    .searchFieldInp {
      display: none;
    }

    &.active .searchFieldInp {
      display: block;
    }

    .searchFieldLabel {
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    &.active .searchFieldInp + .searchFieldLabel {
      width: auto;
      height: auto;
    }
  }
}
