@use "../../../styles//helpers/helpers" as *;
@use "../../../styles//helpers/components" as *;

.inputContainer {
  @include inputField;

  .anotation {
    position: relative;
    font-size: 1.2rem;
    font-weight: weight(base);
    visibility: hidden;
    color: color(blue-light);
   
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .anotation.active {
    visibility: visible;
    right: -1rem;
  }
}
