@use "../../../styles//helpers/abstract/functions" as *;
@use "../../../styles//helpers/abstract/mixins" as *;
@use "../../../styles//helpers/components/layouts/inp" as *;

.inputField {
  @include inpField;

  .anotation {
    position: relative;
    font-size: 1.2rem;
    font-weight: weight(base);
    visibility: hidden;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .anotation.active {
    visibility: visible;
    right: -1rem;
  }
}
