@use "../../../../../styles//helpers/abstract/components" as *;
@use "../../../../../styles//helpers/abstract/functions" as *;
@use "../../../../../styles//helpers/abstract/mixins" as *;

.tagsWindow {
  position: absolute;
  z-index: 999 !important;
  bottom: 85%;
  width: 20rem;
  height: auto;
  max-height: 20rem;
  overflow: auto;
  @include scrollBar("&");
  @include flexBox(column);
  gap: 1rem;
  padding: 0.5rem;
  background: color("whiteColor");
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  .tagCandidate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  & figure {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }
}
