@use "../../../styles/helpers/abstract/functions" as *;

.goBackBtn {
  position: absolute;
  z-index: 99;
  top: 1rem;
  right: 1rem;
  font-size: size("bigSize");
  background: color("whiteShaderColor");
  color: color("darkGreyColor");
  border-radius: 100%;
  width: 3rem;
  aspect-ratio: 1/1;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
  }
}
