@use "../../../styles/helpers" as *;

.goBackBtn {
  position: absolute;
  z-index: 99;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  aspect-ratio: 1/1;
  font-size: size(lg);
  border-radius: 100%;
  border: 1px solid color(gray-tint);
  color: color(dark-shade);
  @include flexBox;
  @include flexProperty(center, center);

  svg {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover svg {
    color: color(blue-light);
  }
}
