$landscape-h: 42vw;
$landscape-h-md: 48vw;
$landscape-h-tablet: 55vw;
$landscape-h-mobile-lg: 65vw;
$landscape-h-mobile: 90vw;

$content-h: 15rem;
$content-h-tablet: 20rem;

$profile-image-w: 16rem;
$profile-image-w-md: 13rem;

$profile-nav-h: 5rem;
