@use "./user-cover-variables" as *;
@use "../../../../styles/helpers/helpers" as *;
@use "../../../../styles/helpers/components/change-user-profile-media-button" as *;

.cover {
  position: relative;
  width: 100%;
  height: calc($landscape-h - $content-h);

  @include media-1280 {
    height: calc($landscape-h-md - $content-h);
  }

  @include media-960 {
    height: calc($landscape-h-tablet - $content-h);
  }

  @include media-680 {
    height: calc($landscape-h-mobile-lg - $content-h);
  }
  
  @include media-480 {
    height: calc($landscape-h-mobile - $content-h);
  }

  .changeMediaBtn {
    @include changeUserProfileMediaBtn;
    top: 1rem;
    right: 1rem;
  }

  .coverImg {
    width: 100%;
    height: 100%;

    & img {
      @include fitImage;
      border-radius: inherit;
    }
  }
}
