@use "../../../../styles/helpers" as *;

.friendShipBTNBox {
  margin-left: auto;
  @include flexBox;
  @include flexProperty(flex-end, center);
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;

  @include media-960 {
    margin: auto;
    justify-content: center;
    gap: 1.5rem;
  }

  @include media-680 {
    width: 100%;
    padding: 0 0 1rem 0;
  }
}
