@use "./user-cover-variables" as *;
@use "../../../../styles/helpers" as *;

.nav {
  padding: 0 3rem;
  height: $profile-nav-h;
  font-weight: weight(lg);
  text-transform: capitalize;
  border-top: 1px solid color(dark-shade);
  color: color(dark-shade);

  @include media-680 {
    padding: 0 1rem;
  }

  .navList {
    height: 100%;
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 2.5rem;

    & li {
      padding: 0.5rem 1rem;
      border-radius: radius(xs-3);
    }

    @include media-680 {
      gap: 0.5rem;
    }

    @include media-480 {
      gap: 0.25rem;

      & li {
        padding: 0.5rem;
      }
    }
  }

  .active {
    color: color(blue-shade);
    background: color(blue-tint);
  }
}
