@use "./user-cover-variables" as *;
@use "../../../../styles/helpers" as *;
@use "../../../../styles/helpers/components" as *;

.profile {
  width: $profile-image-w;
  height: $profile-image-w;
  aspect-ratio: 1/1;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);

  @include media-1280 {
    left: 1rem;
  }

  @include media-960 {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-680 {
    width: $profile-image-w-md;
    height: $profile-image-w-md;
  }

  .profileImg {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid color(light);
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }

  .changeMediaBtn {
    @include changeUserProfileMediaBtn;
    bottom: 1.2rem;
    right: 0.6rem;

    @include media-680 {
      right: -0.3rem;
    }
  }
}