@use "../../../../styles/helpers/helpers" as *;

.updateUserCoverBtn {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 2rem;
  height: 100%;

  @include media-1280 {
    transform: translateX(-3rem);
  }

  @include media-680 {
    grid-column: 1/1;
    grid-row: 6/7;
    transform: translate(0);
    justify-self: center;
  }

  .cancelUpdateBtn {
    background: color(white-shade);
    color: color(dark-shade);
  }
}
