@use "../../../../styles/helpers/helpers" as *;

.userNameAndEmail {
  min-width: max-content;
  padding: 0.5rem;

  @include media-960 {
    text-align: center;
  }

  .userName {
    font-size: size(lg);
    font-weight: weight(lg);
    text-transform: capitalize;
    color: color(dark);

    @include media-680 {
      font-size: size(base);
    }
  }

  .email {
    color: color(dark-shade);
  }
}
