@use "../../../../styles/helpers/abstract/media" as *;
@use "../../../../styles/helpers/components/user-cover" as *;

.userNameAndEmail {
  padding: 0.5rem 0 0 1rem;
  grid-row: 4/6;
  grid-column: 3/4;
  width: 40%;
  @include userNameAndEmail;
  
  @include media-1280 {
    transform: translateX(3rem);
  }
  
  @include media-680 {
    grid-column: 1/1;
    grid-row: 5/6;
    justify-self: center;
    width: max-content;
    transform: translateX(0);
    padding: 1rem;
    padding-top: 1.5rem;
  }
}
