@use "./user-cover-variables" as *;
@use "../../../../styles/helpers/helpers" as *;

.landscape {
  margin-top: app(nav-h);
  width: 100%;
  min-height: $landscape-h;
  font-size: size(sm);
  background: color(light);
  box-shadow: shadow(vertical);
  border-bottom: 1px solid rgba(color(dark-shade), 0.3);

  @include media-1280 {
    min-height: $landscape-h-md;
  }

  @include media-960 {
    min-height: $landscape-h-tablet;
  }

  @include media-680 {
    min-height: $landscape-h-mobile-lg;
  }

  @include media-480 {
    min-height: $landscape-h-mobile;
  }
}

.content {
  position: relative;
  margin: 0 auto;
  width: min(100%, app(container-w));
  height: $content-h;
  @include flexBox(column);
  justify-content: space-between;

  @include media-960 {
    height: 100%;
  }

  .userBase {
    max-height: 100%;
    width: calc(100% - $profile-image-w);
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    @include media-1280 {
      padding: 0 1rem;
    }

    @include media-960 {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: calc($profile-image-w / 2) + 1rem;
    }

    @include media-680 {
      margin-top: calc($profile-image-w-md / 2);
    }
  }
}
