@use "../../styles/helpers/variables/variables" as *;
@use "../../styles/helpers/abstract/media" as *;
@use "../../styles/helpers/abstract/functions" as *;

.singlePost {
  margin-top: app(nav-h);
  padding-top: 6rem;

  @include media-680 {
    padding: 4rem 1rem 1rem 1rem;
  }
}
