.generatorContainer {
  display: inline;
}

.pParent {
  display: inline;

  a {
    color: royalblue;

    &:hover {
      text-decoration: underline;
      color: royalblue;
    }
  }
}

.pChild {
  &:last-child {
    display: inline;
  }
}
