@use "../../../../../styles/helpers" as *;
@use "../../../../../styles/helpers/components" as *;

.blogPostOptionsList {
  position: absolute;
  right: -6.5rem;
  top: 2.25rem;
  width: 15rem;
  @include optionsModal;
}
