@use "../../../../../styles/helpers" as *;

.blogPost {
  position: relative;
  border-radius: radius(xs-2);
  background: color(light);
  box-shadow: shadow(radial-xl);
  border: 1px solid color(gray-shade);

  .blogPostMedia {
    width: 100%;
    aspect-ratio: 3/1;
    margin: 0 1rem 0 0;
    border-radius: inherit !important;
    overflow: hidden;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;

    & img {
      @include fitImage;
    }
  }

  .blogPostInfo {
    flex: 5;
    padding: 1rem;
  }

  .blogPostShortDesc {
    margin-top: 1rem;
    font-size: size(sm);
    color: color(txt-dark);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
  }

  .devideRow {
    @include flexBox;
    @include flexProperty(space-between, flex-start);
    flex-wrap: wrap;
  }
}
