@use "../../../../../styles/helpers" as *;

.createBlogPostTouch {
  @include flexBox(column);
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: color(light);
  box-shadow: shadow(radial-xl);

  @include media-480 {
    padding: 1rem;
  }

  & input {
    border: none;
    outline: none;
    height: 3.5rem;
    border-radius: 10rem;
    background: color(gray-tint);
    padding-left: 2rem;

    &::placeholder {
      opacity: 0.5;
      font-style: italic;
      font-size: size(sm);
    }

    @include media-480 {
      height: 3rem;

      &::placeholder {
        font-size: size(xs);
      }
    }
  }

  & label {
    border-top: 1px solid color(dark-shade);
    padding-top: 1rem;
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;

    & svg {
      color: green;
    }
  }
}
