@use "../../../../../styles/helpers" as *;
@use "../../../../../styles/helpers/components" as *;

$modal-w: 70vw;

$modal-h: 35vw;
$modal-h-md: 40vw;
$modal-h-tablet: calc(100vh - app(nav-h));

$inner-min-h: calc($header-h + $footer-h);

$inner-container-h: calc($modal-h - $inner-min-h);
$inner-container-h-md: calc($modal-h-md - $inner-min-h);
$inner-container-h-tablet: calc($modal-h-tablet - $inner-min-h);

.createBlogPostModal {
  border-radius: radius(md-1);
}

.createBlogPostModalWindow {
  width: $modal-w;
  max-height: $modal-h;
  overflow: hidden;
  background: color(light);

  @include media-1280 {
    max-height: $modal-h-md;
  }

  @include media-960 {
    max-height: none;
    height: $modal-h-tablet;
    width: 100vw;
  }

  .createBlogPostContent {
    position: relative;
    top: $header-h;
    min-height: $inner-container-h;
    max-height: $inner-container-h;
    width: 100%;
    padding: $space-around;
    @include flexBox(column);
    gap: 2rem;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-1280 {
      max-height: $inner-container-h-md;
    }

    @include media-960 {
      max-height: $inner-container-h-tablet;
    }
  }

  .createBlogPostHeader {
    @extend %postCrudModalHeader;
  }

  .createBlogPostForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-around;

    .titleField,
    [data-blog-post-field],
    [data-select-box] {
      width: 100%;
    }

    @include media-680 {
      padding: $space-around;
    }

    @include media-480 {
      @include flexBox(column);
      gap: 1.5rem;
    }
  }

  .createBlogPostEditor {
    @extend %postCrudModalEditor;
    margin-top: 0;

    .articleFieldHead {
      label {
        @include label;
      }

      .articleError {
        @include errorMessage;
      }
    }
  }

  .createBlogPostAssets {
    @extend %postCrudModalContent;
    margin: 0;
    padding: 0;
  }

  .createBlogPostFooter {
    @extend %postCrudModalFooter;
  }
}
