.bookmarks-page__container .infinite-scroll-component__outerdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  .infinite-scroll-component {
    padding-top: 1.5rem;
  }
}
