@use "../../../styles/helpers" as *;

.btnRe {
  display: inline-block;
  width: max-content;
  padding: 1rem 2.5rem;
  border-radius: radius(xl-3);
  text-transform: capitalize;
  font-size: size(sm);
  font-weight: weight(md);
  color: color(light);
  background: color(blue-shade);
  transition: all 0.15s ease;
  box-shadow: shadow(radial-sm);

  &:disabled {
    opacity: 0.6;
  }
}
