@use "../../../../styles/helpers" as *;

.termsAndPolicyLink {
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: size(sm);
  font-weight: weight(md);
  width: 100%;
  text-align: center;
}
