@use "../../../../styles/helpers" as *;
@use "../../../../styles/helpers/components" as *;

.termsCheckbox {
  display: flex;
  flex-direction: column;

  .termsCheckboxField {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: size(xs);
    font-weight: weight(lg);
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  [data-policy-link] {
    width: auto;
    font-size: inherit;
  }

  .errorMessage {
    @include errorMessage;
    text-align: left;
  }
}
