@use "../../../styles/helpers" as *;

.logo {
  height: 100%;
  padding: 1rem;
  font-size: size(h-2);
  font-weight: weight(lg);

  figure {
    width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  @include media-480 {
    font-size: size(h-3);
  }
}
