@use "../../../../../styles/helpers" as *;
@use "../../../../../styles/helpers/components" as *;

.commentsContainer {
  .commentsList {
    position: relative;
    margin-top: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    min-height: 10rem;
    max-height: 45rem;
    border-top: 1px solid color(dark-shade);
    @include scrollBar("&", 1rem, 1rem, 1.5rem, 1.5rem);
    @include flexBox(column);
    gap: 1rem;
  }
}
