@use "../../../../../styles/helpers" as *;
@use "../../../../../styles/helpers/components" as *;

.draftForCommentsForm {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  .draft {
    width: 100%;
    max-height: 10rem;
    overflow: auto;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;

    @include scrollBar("&", 1rem, 1rem, 0.5rem, 0.5rem);
  }

  .sendBtn {
    transform: translateY(0.25rem);
    transition: color 0.2s ease;
    color: color(blue-shade);

    svg {
      font-size: 3rem;
    }

    &:hover {
      color: color(blue-light);
    }
  }
}
