@use "../../../../../styles/helpers" as *;

.nestedList {
  @include flexBox(column);
  gap: 1rem;

  .commentRepliesTextArea {
    width: calc(100% - 4rem);
  }

  @include media-480 {
    [data-text-area-with-tag] {
      margin-right: 0.75rem;
      padding: 0.5rem 0;
    }
  }
}
