@use "../../../../../styles/helpers" as *;

.showRepliesBtn {
  position: relative;
  left: calc(50% - 4rem);
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0 auto;
  margin-top: -3.5rem;
  font-size: size(xs);
  color: color(dark);

  @include media-960 {
    margin-top: -1.2em;
  }
}
