@use "../../../../styles/helpers" as *;

.postsPageUserFriends {
  width: 100%;
  overflow: hidden;
  padding: 2rem 1rem;
  border-radius: radius(sm);
  font-size: size(base);
  background: color(light);
  box-shadow: shadow(radial-xl);

  .userFriendsIntro {
    display: grid;
    grid-template: repeat(2, min-content) / repeat(2, 1fr);
    margin-bottom: 1rem;
    padding: 0 0.8rem;
    text-transform: capitalize;
    color: color(dark);

    .introTitle {
      font-size: size(base);
      font-weight: weight(lg);
    }

    .showAll {
      justify-self: end;
      color: color(blue-shade);

      &:hover {
        color: color(blue-light);
      }
    }

    .friendsAmount {
      font-size: size(xs);
    }
  }

  .friendsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, max-content));
    justify-content: space-between;
    justify-items: center;
    gap: 1rem;

    .friendImg {
      height: 9rem;
      aspect-ratio: 1/1;
      border-radius: radius(xs-2);
      overflow: hidden;

      & img {
        @include fitImage;
      }
    }

    .friend {
      display: grid;
      grid-template-rows: 1fr min-content;
      justify-items: center;
      row-gap: 0.35rem;
    }

    .friendName {
      display: inline-block;
      font-weight: weight(md);
      font-size: size(sm);
      color: color(dark);
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
