@use "../../../../styles/helpers/components/posts-page" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.postsPageUserFriends {
  width: 100%;
  overflow: hidden;
  @include postsPageUserFriends;

  .userFriendsIntro {
    display: grid;
    grid-template: repeat(2, min-content) / repeat(2, 1fr);
  }

  .showAll {
    justify-self: end;
  }

  .friendsList {
    display: grid;
    grid-template: repeat(3, 10rem) / repeat(3, 10rem);
    justify-content: space-between;
    justify-items: center;
    gap: 1rem;

    @include media-680 {
      grid-template: repeat(3, 13rem) / repeat(3, 1fr);
    }

    @include media-480 {
      grid-template: repeat(3, 10rem) / repeat(3, 1fr);
    }
  }

  .friend {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
    row-gap: 0.35rem;
  }

  .friendName {
    display: inline-block;
    color: color(dark);
    text-transform: capitalize;
    font-weight: weight(md);

    &:hover {
      text-decoration: underline;
    }
  }
}
