@use "./posts-page-variables" as *;
@use "../../../../styles/helpers" as *;

.postsPageSideBar {
  flex: 2;
  align-self: flex-start;
  position: sticky;
  top: 7rem;
  width: max(35rem, 40rem);
  @include flexBox(column);
  gap: $space-y;

  @include media-680 {
    flex: 1;
    align-self: center;
    position: relative;
    top: 0;
    min-width: 80%;
  }

  @include media-480 {
    min-width: 100%;
  }
}
