@use "../../../../styles/helpers/components/messanger" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.feedHeadingBox {
  position: relative;
  @include flexBox;
  @include flexProperty(flex-start, center);
  @include messangerFeedHeader;

  .feedAuthor {
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  .conversationGoBackBtn {
    display: none;
    top: 50%;
    transform: translateY(-50%);

    @include media-680 {
      display: block;
    }
  }
}
