@use "../../../../styles/helpers/helpers" as *;

%psd {
  content: "";
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  height: 0.5px;
  width: 100%;
  background: color(gray-shade);
}

.feedContentBox {
  height: 100%;
  @include flexBox(column);
  gap: 0.75rem;
  margin: 0 1rem 0 0;
  padding: 1rem;

  @include scrollBar("&", 1rem, 2rem, 1rem, 1rem);

  .dateDevider {
    position: relative;
    margin: 0 auto;
    font-weight: 500;
    color:color(dark-shade);
    font-size: size(xs);

    &::after,
    &::before {
      @extend %psd;
    }

    &::after {
      left: 100%;
      margin-left: 1rem;
    }

    &::before {
      right: 100%;
      margin-right: 1rem;
    }
  }

  .isReadLabel {
    position: relative;
    margin-left: auto;
    margin-top: -0.5rem;
    @include flexBox;
    @include flexProperty(flex-start, center);
    font-size: 1rem;
    @include animateMoveBottom(0.2s, -0.5rem);

    $is-read-label-w: 1rem;

    &::before {
      content: "";
      position: absolute;
      right: calc(100% + $is-read-label-w / 4);
      width: $is-read-label-w;
      height: $is-read-label-w;
      background-position: center;
      background-size: 100%;
      background: url("../../../../../public/icons/check.webp");
    }
  }
}
