@use "../../../../styles/helpers/helpers" as *;

.messangerFeedContainer {
  flex: 3;
  height: 100%;
  position: relative;
  @include flexBox(column);
  padding: 1rem;
  background: color(light);

  [data-text-area-form-box] {
    margin-top: auto;

    .chatTextBox {
      border-radius: radius(xs);

      &::placeholder{
        font-style: italic;
      }
    }
  }

  @include media-680 {
    display: none;

    &.isActiveConversation {
      display: flex;
    }
  }
}
