@use "../../../../styles/helpers/helpers" as *;

.feedHeadingBox {
  position: relative;
  @include flexBox;
  @include flexProperty(space-between, center);
  gap: 0.75rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid color(gray-shade);

  .user {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.75rem;
  }

  .feedAuthor {
    font-size: size(sm);
    font-weight: weight(md);
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  .conversationGoBackBtn {
    display: none;
    position: unset;

    svg {
      transform: none;
    }

    @include media-680 {
      display: flex;
    }
  }
}
