@use "./messanger-variables" as *;
@use "../../../../styles/helpers/helpers" as *;

.messageBox {
  @include flexBox;
  @include flexProperty(flex-start, flex-start);
  gap: 0.5rem;
  width: 100%;
  font-size: size(xs);

  & [data-img] {
    width: $identifier-fig-xsm;
    height: $identifier-fig-xsm;
  }
}
