@use "../../../../styles/helpers" as *;

.sideBar {
  flex: 1;
  min-width: 30rem;
  max-width: 30rem;
  position: relative;
  padding: 0rem;
  background: color(gray-tint);
  border-right: 1px solid color(gray-shade);

  @include media-960 {
    min-width: 25rem;
    max-width: 25rem;
  }

  @include media-680 {
    min-width: 100%;

    &.isActiveConversation {
      display: none;
    }
  }

  .contentBox {
    @include flexBox(column);
    gap: 0.25rem;
    height: 85vh;
    padding: 2rem 1rem;
    @include scrollBar("&");
  }
}
