@use "../../../../styles/helpers/helpers" as *;

$bar-p: 0.5rem;

.userSearchBar {
  position: relative;
  background: inherit;
  padding: $bar-p;

  &.activeSearchBar {
    background: color(light);
  }

  &.activeSearchBar .searchField {
    border: none;
    border-bottom: 1px solid color(gray-shade);
    border-radius: 0;
  }

  .searchField {
    border: 1px solid color(gray-shade);
    height: 3.5rem;
    background: color(light);
    padding: 0 0.75rem;

    @include media-680 {
      input {
        display: unset;
      }

      label {
        width: max-content;
      }
    }
  }

  .userSearchBarModal {
    position: absolute;
    z-index: 9;
    top: 100;
    left: 0;
    right: 0;
    min-height: 6.5rem;
    max-height: 6.5rem;
    overflow: auto;
    padding: $bar-p;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom-left-radius: radius(xs);
    border-bottom-right-radius: radius(xs);
    box-shadow: shadow(vertical-xl);
    background: color(light);
    transition: all 0.3s ease;
    @include animateMoveTop;

    &.fullFieldModal {
      max-height: 25rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .searchBarItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    padding: 0.5rem;

    &:hover {
      background: color(blue-tint);
    }

    .searchBarItemFig {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .searchBarItemUserName {
      font-size: size(sm);
      font-weight: weight(md);
    }
  }
}
