@use "../../../../styles/helpers/abstract/functions" as *;
@use "../../../../styles/helpers/abstract/animation" as *;

$bar-p: 0.5rem;

.userSearchBar {
  position: relative;
  background: color("whiteColor");
  padding: $bar-p;

  .userSearchBarModal {
    position: absolute;
    z-index: 9;
    top: 100;
    left: 0;
    right: 0;
    padding: $bar-p;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 8rem;
    max-height: 8rem;
    overflow: auto;
    background: color("whiteColor");
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    @include animateMoveTop;

    &.fullFieldModal {
      max-height: 20rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .searchBarItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    padding: 0.5rem;

    &:hover {
      background: color("blueTintColor");
    }

    .searchBarItemFig {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .searchBarItemUserName {
      font-size: size("smallSize");
      font-weight: weight("mediumWeight");
    }
  }
}
