@use "../../../../../styles/helpers" as *;

.activeBlogPostBox {
  margin-top: app(nav-h);
  min-height: calc(100vh - app(nav-h));
  position: relative;
  display: grid;
  grid-template-columns: 32rem 1fr 32rem;
  grid-template-rows: repeat(4, max-content);
  background: color(light);

  @include media-1280 {
    @include flexBox(column);
  }
}
