@use "../../../../../styles/helpers" as *;

.postIntro {
  grid-column: 2;
  padding: 2rem 4rem 0 4rem;
  color: dcolor(dark-shade);

  @include media-1280 {
    order: 2;
  }

  @include media-480 {
    padding: 2rem 1rem;
  }

  .articleHead {
    position: relative;
    padding: 2rem 0;

    @include media-680 {
      padding: 0;
    }
  }

  .article {
    grid-column: 1;
    grid-row: 3;
    margin-top: 2rem;
  }
}
