@use "../../../../../styles/helpers" as *;

.media {
  grid-column: 2;
  height: 25vw;
  margin-top: 1.5rem;

  @include media-1280 {
    height: 35vw;
  }

  @include media-960 {
    height: 45vw;
  }

  @include media-680 {
    height: 58vw;
  }

  @include media-480 {
    height: 25rem;
  }

  @include media-1280 {
    width: 100%;
    aspect-ratio: 3/1;
    order: 1;
  }
}
