@use "../../../../../styles/helpers" as *;

.blogPostsRelated {
  grid-column: 2;
  display: flex;
  gap: 4rem;
  padding: 2rem;

  @include media-1280 {
    order: 4;
  }

  @include media-680 {
    flex-direction: column;
  }

  [data-blog-post-identifier] {
    gap: 0.75rem;
  }

  [data-title] {
    font-size: size(base);
  }

  [data-categories-list] {
    font-size: size(xs-2);
  }

  [data-user-interacion] {
    font-size: size(xs);

    & svg {
      font-size: size(base);
    }
  }

  .relatedBlogPost {
    flex: 1;
    max-width: 50%;

    & > [data-img] {
      // width: 100%;
      // aspect-ratio: 2/1;
      // border-radius: 0;
      // margin: 0;
      display: none;
    }

    [data-categories-list] {
      justify-content: center;
    }
  }

  .relatedPostsError {
    grid-column: span 2;
  }
}
