@use "../../../../../styles/helpers/abstract/media" as *;
@use "../../../../../styles/helpers/abstract/functions" as *;
@use "../../../../../styles/helpers/variables/variables" as *;

.sideBar {
  width: 100%;
  position: sticky;
  top: $nav-height;
  height: 100vh;
  background: color("whiteShaderColor");
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  &.left {
    grid-column: 1;
    grid-row: 1/5;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.15);
  }

  &.right {
    grid-column: 3;
    grid-row: 1/5;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.15);
  }

  figure {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: $shadow-base-sm;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include media-1280 {
    max-height: 30rem;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: unset;
    padding: 3rem 1rem;
    margin: 2rem 0;

    figure {
      height: 100%;
      width: max-content;
      max-width: calc(100% / 3);
    }

    &.left {
      order: 3;
    }

    &.right {
      order: 6;
    }
  }

  @include media-960 {
    figure {
      height: max-content;
      width: 100%;
    }
  }

  @include media-680 {
    padding: 1rem;
    max-height: 25rem;
  }

  @include media-480 {
    max-height: 15rem;
    gap: 2rem;
  }
}
