@use "../../../../../styles/helpers" as *;

.blog-page--container .infinite-scroll-component__outerdiv {
  grid-row: 4;
  grid-column: 1;
  justify-self: center;
  width: 100%;
  max-width: 80rem;
  margin-top: 4rem;

  @include media-1280 {
    padding: 0 2rem;
  }
}
