@use "../../../../../styles/helpers/helpers" as *;

.categories {
  height: 100%;
  grid-row: 2;
  grid-column: 1/3;
  background: color(light);
  box-shadow: shadow(vertical);

  @include media-960 {
    height: 5rem;
    align-self: stretch;
  }

  .slider {
    height: 100%;
    padding: 0 7rem;
    margin: 0 3rem;

    @include media-680 {
      padding: 0 1rem;
      margin: 0rem;
    }
  }

  .listItem {
    font-weight: weight(md);
    border-left: 1px solid color(dark-shade);
    transition: all 0.2s;
    text-align: center;
    text-transform: uppercase;

    &.active {
      color: color(blue-shade);
      text-decoration: underline;
    }
  }

  .listItemLink,
  .listItem {
    height: 100%;
    display: block;
  }
  
  .activeCategory {
    color: color(blue-shade);
  }
}
