@use "../../../../../styles/helpers" as *;

.topRatedPosts {
  @include flexBox(column);
  gap: 1rem;
  padding: 0 1rem;
  font-size: size(xs-2);

  .topRatedBlogPost {
    [data-blog-post-identifier] {
      gap: 0.75rem;
    }

    [data-title] {
      font-size: size(base);
    }

    [data-categories-list] {
      font-size: size(xs-2);
      justify-content: center;
    }

    [data-user-interacion] {
      font-size: size(xs);

      & svg {
        font-size: size(base);
      }
    }

    [data-article-text] {
      font-size: size(xs);
    }
  }
}
