$colors: (
  "whiteColor": rgba(255, 255, 255, 1),
  "whiteShadeColor": rgb(230, 230, 230),
  "whiteShaderColor": rgb(215, 215, 215),
  "blackColor": rgba(24, 24, 24, 1),
  "darkGreyColor": rgba(42, 42, 42, 1),
  "lightGreyColor": rgba(164, 174, 186, 1),
  "darkLightGreyColor": rgba(122, 137, 154, 1),
  "blueColor": rgba(31, 56, 100, 1),
  "blueTintColor": rgba(234, 239, 248, 1),
  "secondaryBlueColor": rgba(3, 85, 191, 1),
  "secondaryBlueTintColor": rgba(125, 176, 242, 1),
  "redColor": rgba(241, 70, 70, 1),
  "orangeColor": #f2bb05,
);
// "blueColor": rgba(47, 101, 185, 1),

$utility-colors: (
  "bg-light": rgba(255, 255, 255, 1),
  "bg-dark-light": rgb(230, 230, 230),
  "txt-light": rgba(255, 255, 255, 1),
  "txt-dark": rgba(42, 42, 42, 1),
  "txt-gray": rgb(50, 54, 59),
);
