//Identifier fig
$identifier-fig-lg: 4rem;
$identifier-fig-md: 3.5rem;
$identifier-fig-xsm: 3rem;
$identifier-fig-sm: 2rem;

// spacers
$space-top-under-user-cover: 6rem;
$space-bottom-under-user-cover: 6rem;
$space-top-under-user-cover-sm: 4rem;
$space-bottom-under-user-cover-sm: 0rem;
