@use '../../../styles/helpers/helpers' as *;

.sideBarBtnInp {
  display: none;

  &:checked + .sideBarLeft > .col-wrapper > .col-2 {
    @include respond(tab-portrate) {
      display: none;
    }
  }

  &:checked + .sideBarLeft > .col-wrapper {
    width: max-content;
  }

  & + .sideBarLeft > .sideBarBtn {
    display: none;

    @include respond(tab-portrate) {
      display: block;
    }
  }

  &:checked + .sideBarLeft > .sideBarBtn > svg {
    transform: rotate(180deg);
  }

  &:checked + .sideBarLeft {
    flex: 0;

    @include respond(tab-portrate) {
      width: max-content;
      position: fixed;
      z-index: 99;
    }
  }
}

.sideBarLeft {
  position: sticky;
  z-index: auto;
  top: 6rem;
  height: calc(100vh - 6rem);
  width: 20rem;
  flex: 1;
  padding: 0.5rem;
  backface-visibility: hidden;
  background: color('whiteColor');
  color: color('darkLightGreyColor');
  @include boxShadowBlack(0, 1rem, 0.3);
  transition: all 0.3s ease;

  .sideBarBtn {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: 0;
    top: 5rem;
    @include flexBox;
    @include flexProperty(center, center);
    clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    transform: translateX(50%);
    border-radius: 0.7rem;
    cursor: pointer;
    background: color('whiteColor');
    @include boxShadowBlack(0, 1rem, 0.3);

    & svg {
      position: absolute;
      left: 38%;
      top: 25%;
    }

    @include respond(tab-portrate) {
      // display: block;
    }
  }

  .col-wrapper {
    display: grid;
    grid-template-columns: max-content, 1fr;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.25s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      background: color('blueTintColor');
      color: color('blueColor');
    }

    & svg.col-1 {
      margin-top: -0.25rem;
      font-size: size('bigSize');
    }

    & span.col-2 {
      text-transform: capitalize;
    }
  }

  .col-wrapper.user {
    cursor: pointer;
  }

  .col-wrapper.user:hover {
    background: none;
  }

  .userName {
    align-self: start;
    display: inline-block;
    margin-top: 0.8rem;
    font-weight: weight(boldWeight);
    font-size: size(regullarSize);
  }

  .email {
    margin-top: -3.5rem;
    font-size: size('smallestSize');
  }

  .menuCaption {
    margin: 3.5rem 0 1rem;
    padding: 0.5rem;
  }

  .col-1 {
    grid-column: 1;
  }

  .col-2 {
    grid-column: 2;
  }
}
