@use '../../../../styles/helpers/abstract/functions' as *;
@use '../../../../styles/helpers/abstract/mixins' as *;

.openPostOptBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  @include flexBox;
  @include flexProperty(center, center);
  font-size: size('largeSize');
}


