@use "../../styles/helpers/variables/variables" as *;
@use "../../styles/helpers/abstract/functions" as *;
@use "../../styles/helpers/abstract/mixins" as *;
@use "../../styles/helpers/abstract/media" as *;

.newVersionInlineContainer {
  .infoBlock {
    @include flexBox(column);
    gap: 1rem;
  }

  .infoBlockHeading {
    text-transform: capitalize;
    padding: 1.5rem 0;
    border-bottom: 1px solid color("darkGrayColor");
  }

  .nestedList {
    @include flexBox(column);
    gap: 2rem;
  }
}
