@use "../../../../styles/helpers" as *;

.reviewContainer {
  @include flexBox(column);
  margin-top: 4rem;
  padding: 0 2rem;
  gap: 4rem;

  @include media-680 {
    margin-top: 3rem;
    padding: 0 1rem;
  }
}
